body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-ruthie: Ruthie;
    --font-poppins: Poppins;
  
    /* font sizes */
    --font-size-5xl: 24px;
  
    /* Colors */
    --color-deeppink: #f6358a;
    --color-white: #fff;
  }
  