.background-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    object-fit: cover;
  }
  .image-icon {
    position: absolute;
    top: 126px;
    left: 566px;
    width: 880px;
    height: 909px;
  }
  .aspiring-writer {
    top: 899px;
    left: 18px;
    font-size: 32px;
    font-weight: 600;
    color: var(--color-white);
    width: 334px;
    height: 85px;
  }
  .aspiring-writer,
  .from,
  .indonesia {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .from {
    top: 974px;
    left: 0;
    letter-spacing: 0.06em;
    font-weight: 500;
    color: silver;
    width: 205px;
    height: 62px;
  }
  .indonesia {
    top: 969px;
    left: 144px;
    width: 182px;
    height: 75px;
  }
  .about-me,
  .indonesia {
    letter-spacing: 0.06em;
  }
  .span {
    letter-spacing: 4em;
  }
  .about-me-services-container {
    position: absolute;
    top: 231px;
    left: 1866px;
    font-weight: 600;
    color: var(--color-white);
    display: flex;
    align-items: center;
    width: 668px;
    height: 73px;
    transform: rotate(90deg);
    transform-origin: 0 0;
  }
  .jose {
    margin: 0;
  }
  .jose-justin-txt-container {
    line-break: anywhere;
    width: 100%;
  }
  .jose-justin {
    position: absolute;
    top: 49px;
    left: 1484px;
    font-size: 40px;
    letter-spacing: 0.06em;
    text-align: right;
    display: flex;
    align-items: center;
    width: 250px;
    height: 100px;
  }
  .image-2-icon {
    position: absolute;
    top: 43px;
    left: 1682px;
    width: 272px;
    height: 142px;
    object-fit: cover;
  }
  .zelnexceed {
    position: absolute;
    top: 52px;
    left: 122px;
    font-size: 64px;
    letter-spacing: 0.03em;
    line-height: 130%;
    font-family: var(--font-ruthie);
    display: inline-block;
    width: 310px;
    height: 62px;
  }
  .cool-symbol-icon {
    position: absolute;
    top: 34px;
    left: 62px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    mix-blend-mode: hard-light;
  }
  .ig-icon,
  .wa-icon {
    position: absolute;
    top: 1015px;
    left: 1633px;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
  .wa-icon {
    left: 1705px;
  }
  .background-parent {
    position: relative;
    border-radius: 15px;
    background-color: #000;
    width: 100%;
    height: 1080px;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--color-deeppink);
    font-family: var(--font-poppins);
  }
  